* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Libre Franklin", "Segoe UI", Tahoma, Verdana, sans-serif;
  box-sizing: border-box;
}

.logo {
  margin: 1em;
  width: 110px;
  height: 110px;
}

.header__icontitle {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.header__nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.header_nav__menu__button {
  margin: 4em 4em 2em 4em;
  text-decoration: none;
  color: #ebe6ea;
  text-align: center;
  background-color: #4c93bf;
  border-style: solid;
  border-width: 0.3em;
  border-color: #2475a0;
  border-radius: 1em;
  width: 10em;
  height: 2.5em;
  transition: all 1s;
}
.header_nav__menu__button:hover {
  color: #ebe6ea;
  background-color: #2475a0;
  zoom: 110%;
}
.header_nav__menu__button a {
  text-decoration: none;
}
.header_nav__menu__button a:hover {
  color: #ebe6ea;
}
.header__grid__hijo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: #015882;
  color: #ebe6ea;
}
.header__grid__hijo h1 {
  font-size: 3em;
  padding-top: 1em;
}
.header__grid__hijo a {
  color: #ebe6ea;
}

.inpage {
  background-color: #2475a0;
}
.inpage:hover {
  zoom: 100%;
}

.body__grid__padre {
  background-color: linear-gradient(180deg, #015882 44%, #013e66 100%);
  display: grid;
  grid-template-rows: auto auto auto;
}
.body__grid__padre__instalaciones {
  background-color: #015882;
  display: grid;
  grid-template-rows: auto auto auto;
}
.body__grid__padre__contacto {
  background-color: #4c93bf;
  display: grid;
  grid-template-rows: auto auto auto;
}
.body__grid__padre__aboutus {
  display: grid;
  display: auto auto auto;
}
.body__grid__padre__contacto {
  background-color: #4c93bf;
  display: grid;
  grid-template-rows: auto auto auto;
}
.body__grid__padre__aboutus {
  display: grid;
  display: auto auto auto;
}

.main__grid__hijo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(180deg, #015882 44%, #013e66 100%);
}
.main__presentacion {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #ebe6ea;
  height: 35em;
  width: 100%;
  background-image: url(https://images.pexels.com/photos/123335/pexels-photo-123335.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1em;
  border-color: #2475a0;
  border-style: solid;
}
.main__presentacion h2 {
  color: #015882;
  padding: 0.5em;
  font-weight: 600;
  box-shadow: 25px 15px 33px 0px rgba(0, 0, 0, 0.75);
}
.main__article {
  color: #ebe6ea;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.main__article h2 {
  text-shadow: 8px 8px black;
  padding: 0.5em;
}
.main__vid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.main__vid__iframe1 {
  width: 40%;
  border-radius: 10px 10px 10px 104px;
  border: 1px solid #ebe6ea;
}
.main__vid__iframe2 {
  border-radius: 10px 10px 104px 10px;
  border: 1px solid #ebe6ea;
  width: 40%;
}
.main__grid__hijo__instalaciones {
  background: rgb(42, 43, 42);
  background: linear-gradient(180deg, #015882 44%, #013e66 100%);
  text-align: center;
  padding-bottom: 1em;
}
.main__grid__hijo__instalaciones h2 {
  color: #ebe6ea;
  padding: 1em;
}
.main__servicios {
  padding: 2em;
  background: linear-gradient(180deg, #015882 44%, #013e66 100%);
}
.main__planes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  padding-left: 0;
}
.main__planes ul {
  border-radius: 98px 98px 200px 200px;
  border: 0px solid #000000;
  animation: presentacion 4s;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  background-color: #4c93bf;
  line-height: 2em;
  color: #ebe6ea;
  font-weight: 600;
  font-size: 1.2em;
  padding: 2em;
}
.main__planes ul:hover {
  zoom: 110%;
  background-color: #2475a0;
  color: black;
}
.main__servicios h2 {
  font-size: 4em;
  text-align: center;
  color: #ebe6ea;
  text-shadow: 8px 8px black;
}
.main__servicios h3 {
  font-weight: 900;
  color: #ebe6ea;
  text-align: center;
  border-radius: 0.5em;
  border-color: #015882;
  border-style: double;
  background-color: #013e66;
  height: 2em;
  width: 100%;
}
.main__contacto {
  color: #ebe6ea;
  background: linear-gradient(180deg, #015882 44%, #013e66 100%);
}
.main__aboutus {
  background: linear-gradient(180deg, #015882 44%, #013e66 100%);
}
.main__aboutus__articulo {
  animation: presentacion 3s;
}
.main__aboutus__articulo h2 {
  display: block;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 4em;
  color: #ebe6ea;
  font-size: 3em;
}
.main__aboutus__articulo p {
  display: block;
  padding: 5em;
  padding-top: 5em;
  font-size: 1.5em;
  text-align: center;
  font-family: "Oswald", sans-serif;
  transition: all 2s;
  color: #ebe6ea;
  margin-bottom: 0;
}
.main__aboutus__articulo p:hover {
  font-size: 1.7em;
}

.formulario {
  text-align: center;
  display: block;
}
.formulario__texto {
  box-shadow: 43px 10px 63px 14px rgba(0, 0, 0, 0.75);
  border: #2A2B2A;
  border-style: solid;
  border-radius: 1.5em 1.5em 0em 0em;
  padding: 1em;
  width: 80%;
  border-color: #2475a0;
  color: #ebe6ea;
  background-color: #4c93bf;
  margin: 1em;
  font-size: 1.2em;
  height: 10%;
  min-height: 200px;
  max-height: 600px;
}
.formulario__texto:hover {
  background-color: #2475a0;
}
.formulario__info {
  margin: 1em;
}
.formulario__info button {
  color: #ebe6ea;
  background-color: #4c93bf;
  border-color: #2475a0;
  border-style: solid;
  border-radius: 0.5em;
  padding: 0.3em;
}
.formulario__info__planes {
  color: #ebe6ea;
  background-color: #4c93bf;
  border-color: #2475a0;
  border-style: solid;
  border-radius: 0.5em;
  padding: 0.3em;
}
.formulario h1 {
  color: #ebe6ea;
  font-size: 3em;
}
.formulario__correo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formulario__correo label {
  margin: 1em;
  font-weight: 900;
  color: #ebe6ea;
}
.formulario__correo input {
  border-color: #4c93bf;
  padding: 0.5em;
  width: 40%;
  border-style: solid;
  color: rgb(42, 43, 42);
  background-color: #2475a0;
  border-radius: 1em;
}
.formulario__correo input::placeholder {
  color: #B3AAAA;
}

@keyframes presentacion {
  from {
    font-size: 2em;
  }
  to {
    font-size: 1.2em;
  }
}
.mapouter {
  height: 225px;
  width: 310px;
}

.carousel-item img {
  height: 800px;
}

.footer__grid__hijo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #013e66;
  color: #ebe6ea;
  padding-bottom: 1em;
  padding-top: 1em;
}
.footer__redes {
  text-align: center;
  font-size: 1em;
  padding: 1em;
}
.footer__redes img {
  width: 4em;
  height: 4em;
  border-bottom-width: 4em/2;
  border-color: #353535;
  border-radius: 4em;
  margin: 0.3em;
}
.footer__datos {
  font-size: 1em;
  padding: 1em/2;
}

.gmap_canvas {
  border-radius: 1em;
  border-color: #015882;
  border-style: solid;
}

@media (max-width: 1200px) {
  .footer__grid__hijo {
    flex-direction: column;
  }
  .header__nav {
    flex-direction: column;
    align-items: center;
    border-top: 1em;
    border-color: #2475a0;
    border-top-style: solid;
  }
  .header__nav_nav__menu__button {
    margin: 0;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 50em;
    height: 4em;
  }
  .header__grid__hijo h1 {
    font-size: 2.5em;
  }
  .main__vid {
    flex-direction: column;
    align-items: center;
  }
  .main__vid iframe {
    border-radius: 1em;
    width: 80%;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .logo {
    width: 90px;
    height: 90px;
  }
}
@media (max-width: 524px) {
  .logo {
    width: 120px;
    height: 120px;
  }
  .formulario__texto {
    height: 25em;
  }
  .formulario h1 {
    font-size: 2em;
  }
  .header_nav__menu__button {
    margin: 0;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 20em;
    height: 4em;
  }
  .header__grid__hijo {
    flex-direction: column;
    align-items: center;
  }
  .header__grid__hijo h1 {
    font-size: 1.5em;
  }
  .main__aboutus__articulo h2 {
    padding-top: 1em;
  }
  .main__aboutus__articulo p {
    margin-top: 4em;
    padding: 1em;
  }
  .main__presentacion h2 {
    font-size: 1.2em;
  }
  .main__article h2 {
    font-size: 1.2em;
  }
  .footer__datos {
    padding: 16px;
  }
  .carousel-item img {
    height: 300px;
  }
}

/*# sourceMappingURL=styles.css.map */
