$primary-color : #015882;
$secundary-color: #2475a0;
$terciary_color: #4c93bf;
$quaternary-color: #013e66;
$text-color: #ebe6ea;
$background_gr: linear-gradient(180deg, $primary-color  44%, $quaternary-color 100%);